<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('_header'); %>
        <h1> user profile setup using ejs</h1>
        <%- include('_footer'); %>
    </body>
</html>